---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<ul> <div style="font-size: larger; font-weight:bold;">C# Projects:</div>
		<li><span style="font-weight: 500;">Game Development/Engines:</span>  A significant portion of the work revolves around game development, particularly using the Godot Engine with C#.  There are several repositories showcasing C# scripting within Godot, including projects that seem to be learning exercises or experiments with specific game mechanics.  This suggests an interest in game programming and a familiarity with the Godot environment.  It's worth noting that while some projects might be small or exploratory, they demonstrate practical application of C# within a game engine.</li>

	</ul>
</Layout>
